<div class="progress-data full-width clearfix nomargin alignr">
  <span class="p fwb float-left"><%= title %></span>
  <span class="h4 nomargin">
    <%= displayed_value %>
  </span>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= rate %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= rate %>%;">
  </div><!-- /progress-bar -->
</div><!-- /progress -->
