<!--
*******************************************
Note: The purpose of views/designs/ is for
building frontend markup only. Do not add
ERB or javascript to this page. Copy and
paste this markup, and then integrate that
code in its rightful location with the app
backend.

With very few exceptions, this file should
remain pure front-end HTML/CSS/JS.
*******************************************
-->

<style>

</style>

<div class="main ui container">
  <div class="ui vertical basic segment">
    <div class="ui centered grid">
      <div class="column">



      </div><!-- /.column -->
    </div><!-- /.ui centered grid -->
  </div><!-- /.ui vertical basic segment -->
</div><!-- /.main ui container -->

<script>

</script>




<div class="ui six stackable cards">
  <a class="ui card" href="#">
    <div class="centered content">
      <div class="header">
        A+
      </div><!-- /.header -->
    </div><!-- /.content -->
  </a><!-- /.ui card -->
  <a class="ui card" href="#">
    <div class="content">
      <div class="header">
        A
      </div><!-- /.header -->
    </div><!-- /.content -->
  </a><!-- /.ui card -->
  <a class="ui card" href="#">
    <div class="content">
      <div class="header">
        B
      </div><!-- /.header -->
    </div><!-- /.content -->
  </a><!-- /.ui card -->
  <a class="ui card" href="#">
    <div class="content">
      <div class="header">
        C
      </div><!-- /.header -->
    </div><!-- /.content -->
  </a><!-- /.ui card -->
  <a class="ui card" href="#">
    <div class="content">
      <div class="header">
        D
      </div><!-- /.header -->
    </div><!-- /.content -->
  </a><!-- /.ui card -->
  <a class="ui card" href="#">
    <div class="content">
      <div class="header">
        N/A
      </div><!-- /.header -->
    </div><!-- /.content -->
  </a><!-- /.ui card -->
</div><!-- /.ui six stackable cards -->

