.btn.btn-paper.btn-raised.margin-left-10 {
  margin-left: 10px;
}

trix-toolbar button.link { display: none; }

span.email-to-recipients {
  color: gray;
  font-weight: 500;
}

.btn.btn-large.btn-success.btn-width-137 {
  width: 137px;
}
