$red: red;
$black: #000;
$gray: #777;
$dark_gray: #333;
$muted_gray: #999;
$light_gray: #ddd;
$lighter_gray: #eee;
$white: #fff;
$muted_blue: #4c6d8b;
$blue: #036;
$cg_green_light: #939f72;
$cg_green_dark: #6c764b;