<a href="?Profile">
  <div class="pop-text">Notification 1</div>
</a>
<hr />
<a href="?Profile">
  <div class="pop-text">Notification 2</div>
</a>
<hr />
<a href="?Profile">
  <div class="pop-text">Notification 3</div>
</a>
<hr />
<a href="?Profile">
  <div class="pop-text">Notification 4</div>
</a>
<hr />
<div>
  <p id="foot-notification-pop">
    <a href="?notification">Show all</a>
  </p>
</div>