---
http_interactions:
- request:
    method: post
    uri: https://api.segment.io/v1/import
    body:
      encoding: UTF-8
      string: '{"sentAt":"2016-03-31T16:00:00.000Z","batch":[{"event":"Load page","userId":980204224,"anonymousId":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"options":null,"integrations":null,"properties":{"page":"Dashboard","browser":["unknown","generic","generic0","other"],"user_agent":"Rails
        Testing"},"timestamp":"2016-03-31T16:00:00.000Z","type":"track","messageId":"62b2b568-fc42-4089-b053-fc8f04136e6a"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NTc2bjR4WFk2cjo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Thu, 31 Mar 2016 16:00:00 GMT
recorded_with: VCR 3.0.3
