---
http_interactions:
- request:
    method: get
    uri: https://api.nylas.com/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NzRhYUpZTFd6dDJkaXpHNnVFNjM0Tlg1Q3VqTXVSOg==
      X-Inbox-Api-Wrapper:
      - ruby
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "account_id": "3sdlmdy4bnyy7rynd7ysuo8jy",
            "email_address": "jane.jones.agentbright@gmail.com",
            "id": "3sdlmdy4bnyy7rynd7ysuo8jy",
            "name": "jane jones",
            "object": "account",
            "organization_unit": "label",
            "provider": "gmail",
            "sync_state": "running"
        }
  recorded_at: Thu, 06 Oct 2016 19:30:38 GMT
- request:
    method: post
    uri: https://api.nylas.com/delta/latest_cursor
    body:
      encoding: UTF-8
      string: content_type=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic NzRhYUpZTFd6dDJkaXpHNnVFNjM0Tlg1Q3VqTXVSOg==
      X-Inbox-Api-Wrapper:
      - ruby
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "cursor": "el9sc1zupe5m0w278i5otolxv"
        }
  recorded_at: Thu, 06 Oct 2016 19:30:39 GMT
- request:
    method: get
    uri: https://api.nylas.com/delta?cursor=el9sc1zupe5m0w278i5otolxv&exclude_folders=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NzRhYUpZTFd6dDJkaXpHNnVFNjM0Tlg1Q3VqTXVSOg==
      X-Inbox-Api-Wrapper:
      - ruby
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "cursor_end": "el9sc1zupe5m0w278i5otolxv",
            "cursor_start": "el9sc1zupe5m0w278i5otolxv",
            "deltas": []
        }
  recorded_at: Thu, 06 Oct 2016 19:30:39 GMT
- request:
    method: get
    uri: https://api.nylas.com/delta?cursor=el9sc1zupe5m0w278i5otolxv&exclude_folders=false&exclude_types=calendar,contact,event,file,draft,thread,folder,label,calendar,contact,event,file,draft,thread,folder,label
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NzRhYUpZTFd6dDJkaXpHNnVFNjM0Tlg1Q3VqTXVSOg==
      X-Inbox-Api-Wrapper:
      - ruby
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "cursor_end": "el9sc1zupe5m0w278i5otolxv",
            "cursor_start": "el9sc1zupe5m0w278i5otolxv",
            "deltas": []
        }
  recorded_at: Thu, 06 Oct 2016 19:30:40 GMT
- request:
    method: get
    uri: https://api.nylas.com/delta?cursor=3bt11a6oroj6gb2x264q272fv&exclude_folders=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NzRhYUpZTFd6dDJkaXpHNnVFNjM0Tlg1Q3VqTXVSOg==
      X-Inbox-Api-Wrapper:
      - ruby
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Invalid cursor parameter",
          "type": "invalid_request_error"
        }
  recorded_at: Thu, 06 Oct 2016 19:30:41 GMT
- request:
    method: get
    uri: https://api.nylas.com/delta?cursor=3bt11a6oroj6gb2x264q272fv&exclude_folders=false&exclude_types=calendar,contact,event,file,draft,thread,folder,label,calendar,contact,event,file,draft,thread,folder,label
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic UnM1R2hFbThtVUxUVkZVM0xiUFZQR0x2UE15Mk1hOg==
      X-Inbox-Api-Wrapper:
      - ruby
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Invalid cursor parameter",
          "type": "invalid_request_error"
        }
  recorded_at: Fri, 01 Apr 2016 03:59:59 GMT
recorded_with: VCR 3.0.3
