---
http_interactions:
- request:
    method: post
    uri: https://api.segment.io/v1/import
    body:
      encoding: UTF-8
      string: '{"sentAt":"2016-03-31T16:00:00.000Z","batch":[{"event":"Load page","userId":980204202,"anonymousId":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"options":null,"integrations":null,"properties":{"page":"Dashboard","browser":["unknown","generic","generic0","other"],"user_agent":"Rails
        Testing"},"timestamp":"2016-03-31T16:00:00.000Z","type":"track","messageId":"b5ce3c90-9992-4b1d-80fa-9f6e418393fa"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NTc2bjR4WFk2cjo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Thu, 31 Mar 2016 16:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.segment.io/v1/import
    body:
      encoding: UTF-8
      string: '{"sentAt":"2016-10-10T20:26:59.000Z","batch":[{"event":"Load page","userId":117094786,"anonymousId":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"options":null,"integrations":null,"properties":{"page":"Dashboard","browser":["unknown","generic","generic0","other"],"user_agent":"Rails
        Testing"},"timestamp":"2016-10-10T20:26:59.000Z","type":"track","messageId":"77f3b562-bc7a-467d-923a-a6a1e54943d1"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NTc2bjR4WFk2cjo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Mon, 10 Oct 2016 20:26:59 GMT
recorded_with: VCR 3.0.3
