<!-- MOBILE MENU -->
<div class="show-phone below24">
  <div class="section-header">
    <a class="clickable collapsed" data-toggle="collapse" data-toggle-event="true" data-target="#collapseSettingsMenu">
      <h4><span class="title-arrow fui-arrow-right"></span>Settings Menu</h4>
    </a>
  </div><!-- /.section-header -->
  <div id="collapseSettingsMenu" class="collapse">
    <%= render(partial: "shared/account_settings_sidebar") %>
  </div><!-- /#collapseSettingsMenu.panel-collapse collapse -->
</div><!-- /.show-phone -->
