<div class="list-group" style="margin-top:1.875em;">

  <a href="#" class="list-group-item disabled">
    <span class="fwb">My Business</span>
  </a>
  <%= list_item_link("Agent Profile", edit_profile_path) %>
  <a href="#" class="list-group-item disabled">
    <span class="fwb">Account Settings</span>
  </a>
  <%= list_item_link("Away Settings",away_settings_user_settings_lead_settings_path) %>
  <%= list_item_link("Password", edit_user_registration_path) %>

</div>
