---
http_interactions:
- request:
    method: get
    uri: https://api.nylas.com/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NzRhYUpZTFd6dDJkaXpHNnVFNjM0Tlg1Q3VqTXVSOg==
      X-Inbox-Api-Wrapper:
      - ruby
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "account_id": "3sdlmdy4bnyy7rynd7ysuo8jy",
            "email_address": "jane.jones.agentbright@gmail.com",
            "id": "3sdlmdy4bnyy7rynd7ysuo8jy",
            "name": "jane jones",
            "object": "account",
            "organization_unit": "label",
            "provider": "gmail",
            "sync_state": "running"
        }
  recorded_at: Thu, 06 Oct 2016 22:42:42 GMT
- request:
    method: get
    uri: https://api.nylas.com/threads/this_thread_id_is_invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NzRhYUpZTFd6dDJkaXpHNnVFNjM0Tlg1Q3VqTXVSOg==
      X-Inbox-Api-Wrapper:
      - ruby
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Invalid id: this_thread_id_is_invalid",
          "type": "invalid_request_error"
        }
  recorded_at: Thu, 06 Oct 2016 22:44:23 GMT
recorded_with: VCR 3.0.3
