<div id="contact-work-section" class="collapse in">
  <ul class="dotted-list">
    <li class="clearfix">
      <div class="float-left col-sm-4 fwb dim-el">Company:</div>
      <div class="col-sm-8"><%= @contact.company %></div>
    </li><!-- /.clearfix -->
    <li class="clearfix">
      <div class="float-left col-sm-4 fwb dim-el">Profession:</div>
      <div class="col-sm-8"><%= @contact.profession %></div>
    </li><!-- /.clearfix -->
    <li class="clearfix">
      <div class="float-left col-sm-4 fwb dim-el">Title</div>
      <div class="col-sm-8"><%= @contact.title %></div>
    </li><!-- /.clearfix -->
  </ul><!-- /.dotted-list -->
</div> <!-- /#contactdetails.collapse in -->
