<div id="contact-correspondence-section" class="collapse in">
  <ul class="dotted-list">
    <li class="clearfix">
      <div class="float-left col-sm-4 fwb dim-el">Envelope Salutation</div>
      <div class="col-sm-8"><%= @contact.envelope_salutation %></div>
    </li><!-- /.clearfix -->
    <li class="clearfix">
      <div class="float-left col-sm-4 fwb dim-el">Letter Salutation</div>
      <div class="col-sm-8"><%= @contact.letter_salutation %></div>
    </li><!-- /.clearfix -->
</div> <!-- /#contactdetails.collapse in -->
