<!--HEADER-->
<div class="row">
  <div class="lastUnit col-sm-12 header">
    <h1>
      <%= link_to "Contacts", contacts_path %> / <%= @contact.full_name %>
    </h1>
    <h2>Edit <%= @contact.full_name %></h2>
  </div>
</div>
<!--END HEADER-->

<%= render(partial: 'form')%>
