<div class="row">
  <div class="col-xs-12">
    <div class="no-data alignc">
      <div class="ab-icon">
        <span class="fui-list-bulleted"></span>
      </div>
      <h2>
        Looks like you don't have any contacts with the current search criteria.
      </h2>
      <p>
      </p>
    </div><!-- no-data -->
  </div><!-- /.col-xs-12 -->
</div><!-- /row -->

