.masthead {
  padding: 54px 0 1em;
}

.masthead.segment {
  position: relative;
  z-index: 1;
  margin: 0em;
  min-height: 185px;
  padding: 3em 0em;
  background-color: #FFFFFF;
  box-shadow: none;
}
