<div class="ui sidebar inverted vertical menu" id="toc">
  <div class="item">
    <div class="ui input"><input type="text" placeholder="Search..."></div>
  </div>
  <a class="item">
    Dashboard
  </a>
  <a class="item">
    Marketing Center
  </a>
  <a class="item">
    Contacts
  </a>
  <a class="item">
    Leads
  </a>
  <a class="item">
    Clients
  </a>
  <a class="item">
    Tasks
  </a>
  <a class="item">
    Email Campaigns
  </a>
  <a class="item">
    Reports
  </a>
</div>

<div class="pusher">
  <div class="full height">
    <div class="toc">
      <div class="ui vertical inverted sticky menu">
        <div class="item">
          <img class="ui mini image middle aligned right spaced" src="http://placehold.it/35">
          <span>AgentBright</span>
        </div>
        <a class="item">
          Dashboard
        </a>
        <a class="item">
          Marketing Center
        </a>
        <a class="item">
          Contacts
        </a>
        <a class="item">
          Leads
        </a>
        <a class="item">
          Clients
        </a>
        <a class="item">
          Tasks
        </a>
        <a class="item">
          Email Campaigns
        </a>
        <a class="item">
          Reports
        </a>
      </div>
      
    </div>

    <div class="article">
      <div class="ui top fixed borderless inverted main menu">
        <div class="ui container">
          <a class="item js-open-sidebar" id="menu-button">
            Menu
          </a>

          <div class="right menu">
            <div class="ui category search item">
              <div class="ui inverted transparent icon input">
                <input class="prompt" type="text" placeholder="Search AgentBright...">
                <i class="search link icon"></i>
              </div>
              <div class="results"></div>
            </div>
            <div class="ui floating dropdown icon item">
              <i class="wrench icon"></i>
              <div class="menu">
                <a class="item">English</a>
                <a class="item">Russian</a>
                <a class="item">Spanish</a>
              </div>
            </div>
            <div class="item">
              <div>
                <a class="ui red circular label">2</a>
              </div>
              
            </div><!-- /.item -->
            <div class="ui floating dropdown item">
              <img class="ui avatar image" src="http://placehold.it/250">
              <div class="menu">
                <a class="item">English</a>
                <a class="item">Russian</a>
                <a class="item">Spanish</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="masthead">
        <div class="proto-h-15 proto-bg-gray"></div>
      </div>

      <div class="ui vertical segment">
        <div class="ui internally celled grid">
          <div class="ten wide column">
            <div class="ui secondary pointing menu js-main-section-menu">
              <a class="item active" data-tab="details">
                Details
              </a>
            </div>
            <div class="ui tab segment active" data-tab="details">
            </div>
          </div><!-- /.ten wide column -->

          <div class="six wide column">
            <div class="ui secondary pointing menu js-side-section-menu">
              <a class="item active" data-tab="activity">
                Activity
              </a>
              <a class="item" data-tab="collaboration">
                Collaboration
              </a>
            </div>
            <div class="ui tab segment active" data-tab="activity">
              <div class="ui feed">
                <div class="event">
                  <div class="label">
                    <img src="https://placehold.it/50">
                  </div>
                  <div class="content">
                    <div class="summary">
                      <a class="user">
                        Elliot Fu
                      </a> added you as a friend
                      <div class="date">
                        1 Hour Ago
                      </div>
                    </div>
                    <div class="meta">
                      <a class="like">
                        <i class="like icon"></i> 4 Likes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="label">
                    <img src="https://placehold.it/50">
                  </div>
                  <div class="content">
                    <div class="summary">
                      <a>Helen Troy</a> added <a>2 new illustrations</a>
                      <div class="date">
                        4 days ago
                      </div>
                    </div>
                    <div class="extra images">
                      <a><img src="https://placehold.it/600"></a>
                      <a><img src="https://placehold.it/600"></a>
                    </div>
                    <div class="meta">
                      <a class="like">
                        <i class="like icon"></i> 1 Like
                      </a>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="label">
                    <img src="https://placehold.it/50">
                  </div>
                  <div class="content">
                    <div class="summary">
                      <a class="user">
                        Jenny Hess
                      </a> added you as a friend
                      <div class="date">
                        2 Days Ago
                      </div>
                    </div>
                    <div class="meta">
                      <a class="like">
                        <i class="like icon"></i> 8 Likes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="label">
                    <img src="https://placehold.it/50">
                  </div>
                  <div class="content">
                    <div class="summary">
                      <a>Joe Henderson</a> posted on his page
                      <div class="date">
                        3 days ago
                      </div>
                    </div>
                    <div class="extra text">
                      Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                    </div>
                    <div class="meta">
                      <a class="like">
                        <i class="like icon"></i> 5 Likes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="event">
                  <div class="label">
                    <img src="https://placehold.it/50">
                  </div>
                  <div class="content">
                    <div class="summary">
                      <a>Justen Kitsune</a> added <a>2 new photos</a> of you
                      <div class="date">
                        4 days ago
                      </div>
                    </div>
                    <div class="extra images">
                      <a><img src="https://placehold.it/600"></a>
                      <a><img src="https://placehold.it/600"></a>
                    </div>
                    <div class="meta">
                      <a class="like">
                        <i class="like icon"></i> 41 Likes
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui tab segment" data-tab="collaboration">
              <p></p>
            </div>
          </div><!-- /.six wide column -->
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
<script>
  // create sidebar sticky
  $('.toc .ui.sticky')
    .sticky({
      context: $('.pusher > .full.height')
    })
  ;

  // Menu dropdown
  $('.ui.dropdown')
    .dropdown()
  ;

  // Clicking "Home" should open sidebar menu
  $('.sidebar').first()
    .sidebar('setting', 'transition', 'overlay')
    .sidebar('attach events', '.js-open-sidebar')
  ;

  // Initialize tabs
  $(".js-main-section-menu .item").tab();
  $(".js-side-section-menu .item").tab();
</script>
<% end %>

