<div id="coaching" class="below24">
  <h3>Coaching</h3>
  <div class="row sub-section card-row">
    <div class="col-sm-4 card-column">
      <div class="card picture-card">
        <a rel="noopener noreferrer" href="http://www.trulia.com/pro/sellers/5-questions-cant-afford-ask-sellers/" target="_blank">
          <div class="card-image" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),url('https://dl.dropboxusercontent.com/u/1643516/Out%20On%20The%20Web/ask-clients.jpg');background-position:50% 50%;">
            <div class="card-image-title">
              <div class="headline">
                5 Questions You Can't Afford NOT to Ask Sellers
              </div><!-- /.headline -->
            </div><!-- /.card-image-title -->
          </div><!-- /.card-image -->
        </a>
        <div class="card-actions alignc">
          <a href="#" class="btn btn-paper btn-flat btn-primary btn-paper-icon">
            <i class="mdi-action-favorite"></i>
          </a>
          <a href="#" class="btn btn-paper btn-flat btn-primary btn-paper-icon">
            <i class="mdi-action-bookmark"></i>
          </a>
          <a href="#" class="btn btn-paper btn-flat btn-primary btn-paper-icon">
            <i class="mdi-social-share"></i>
          </a>
        </div><!-- /.card-actions -->
      </div><!-- /.card notification-card -->
    </div><!-- /.col-sm-4 card-column -->
    <div class="col-sm-4 card-column">
      <div class="card picture-card">
        <a rel="noopener noreferrer" href="http://www.trulia.com/pro/sellers/5-most-loved-listing-photos-and-best-practices-for-capturing-them/" target="_blank">
          <div class="card-image" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),url('https://dl.dropboxusercontent.com/u/1643516/Out%20On%20The%20Web/kitchen-photo.jpg');background-position:50% 50%;">
            <div class="card-image-title">
              <div class="headline">
                5 Listing Photo Best Practices
              </div><!-- /.headline -->
            </div><!-- /.card-image-title -->
          </div><!-- /.card-image -->
        </a>
        <div class="card-actions alignc">
          <a href="#" class="btn btn-paper btn-flat btn-primary btn-paper-icon">
            <i class="mdi-action-favorite"></i>
          </a>
          <a href="#" class="btn btn-paper btn-flat btn-primary btn-paper-icon">
            <i class="mdi-action-bookmark"></i>
          </a>
          <a href="#" class="btn btn-paper btn-flat btn-primary btn-paper-icon">
            <i class="mdi-social-share"></i>
          </a>
        </div><!-- /.card-actions -->
      </div><!-- /.card notification-card -->
    </div><!-- /.col-sm-4 card-column -->
    <div class="col-sm-4 card-column">
      <div class="card picture-card">
        <a rel="noopener noreferrer" href="http://www.trulia.com/pro/buyers/3-ways-to-handle-high-maintenance-clients/" target="_blank">
          <div class="card-image" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),url('https://dl.dropboxusercontent.com/u/1643516/Out%20On%20The%20Web/clients-real-estate.jpg');background-position:50% 50%;background-size:240%">
            <div class="card-image-title">
              <div class="headline">
                3 Ways To Handle High Maintenance Clients
              </div><!-- /.headline -->
            </div><!-- /.card-image-title -->
          </div><!-- /.card-image -->
        </a>
        <div class="card-actions alignc">
          <a href="#" class="btn btn-paper btn-flat btn-primary btn-paper-icon">
            <i class="mdi-action-favorite"></i>
          </a>
          <a href="#" class="btn btn-paper btn-flat btn-primary btn-paper-icon">
            <i class="mdi-action-bookmark"></i>
          </a>
          <a href="#" class="btn btn-paper btn-flat btn-primary btn-paper-icon">
            <i class="mdi-social-share"></i>
          </a>
        </div><!-- /.card-actions -->
      </div><!-- /.card notification-card -->
    </div><!-- /.col-sm-4 card-column -->
  </div>
</div><!-- /#coaching.below24 -->
