<% content_for(:back_button, contacts_path) %>

<div class="row">
  <div class="lastUnit col-sm-12 header">
    <h1 class="inline-block">
      <%= link_to "Contacts", contacts_path %>
    </h1>
    <h2>Upload Contacts via CSV</h2>
  </div>
</div>
