<section class="activity-stream" data-introjs="step16">
  <%= render(
    partial: "activities/activities_by_day",
    locals: { activities: activities, activities_link_url: activities_link_url }
  ) %>
</section><!-- /.activity-stream -->
