<aside id="sidebar">
  <nav>
    <ul>
      <li>
        <%= link_to 'All Contacts', contacts_path %>
      </li>
      <li>
        <%= link_to 'Add New Contact', new_contact_path %>
      </li>
    </ul>
  </nav>
</aside>