<tr>
  <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;">

    <p>Hello <%= @resource.email %>!</p>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>

    <p>Your password won't change until you access the link above and create a new one.</p>
  </td>
</tr>